/src/vendor
/src/node_modules
/src/.env
/src/.env.testing
/src/storage/*.key

/src/storage/logs
/src/storage/framework/cache
/src/storage/framework/sessions
/src/storage/framework/views

/src/bootstrap/cache

/src/public/storage

/src/.phpunit.result.cache

.DS_Store
/.idea
/.vscode
/docker/mysql/data